# Node / Electron
node_modules/
**/node_modules/
dist/
build/
out/
release/
*.log

# Electron binaries/caches
**/electron/dist/
**/.cache/
**/.electron/
**/.npm/
**/.yarn/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

pybackend/.venv/
pybackend/dist/
pybackend/build/
pybackend/backend.spec
**/.venv/
**/dist/
**/build/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
